.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--fs-sm);
  margin-bottom: 20px;
  @media (max-width: 500px) {
    font-size: 12px;
  }
  .title{
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
  }
  .titleName{
    font-weight: bold;
    margin: 0 15px;

    @media (max-width: 500px) {
      margin: 0 5px;
    }
  }
  .titleCount{
    color: var(--gray, rgba(23, 23, 25, 0.30));
  }
  .icons {
    display: flex;

    .iconList {
      margin-right: 15px;
    }

    img {
      cursor: pointer;
    }
  }
}
