.container{
  border-radius: var(--border-radius);
  border: 1px solid rgba(39, 39, 39, 0.10);
  background: var(--background-fff);
  text-align: center;
  padding: 40px 88px 60px 88px;

  img{
    width: 88px;
    height: 88px;
    margin-bottom: 32px;
    display: inline-block;
  }

  p{
    margin-bottom: 27px;

  }

  button{
    border-radius: 5px;
    background:  #1390E5;

    color: #FFF;
    text-align: center;
    font-size: var(--fs-md);

    font-style: normal;
    font-weight: var(--fw-normal);
    line-height: 24px;
    padding: 14px 61px;
  }
}


.inputMargin{
  margin-bottom: 20px;
}

.inputMarginX2{
  margin-bottom: 40px;
}



@media (max-width: 500px) {
  .container{
    padding: 40px 30px 60px 30px;

  }
}


@media (max-width: 320px) {
  .container{
    padding: 40px 10px 60px 10px;

  }
}

