@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



:root {
  /* Typography*/
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;

  --fw-ligth: 400;
  --fw-normal: 500;
  --fw-bold: 700;

  --line-height: 28px;
  /* Other */
  --family: 'Roboto', sans-serif;
  --border-radius: 10px;
  /* Color */
  --color-black: #000000;
  --background-color: #FAFAFA;
  --background-fff: #FFF;

  /***********/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}

body {
  font-family: var(--family);
  color: var(--color-black);
  font-weight: var(--fw-bold);
  background-color: var(--background-color);
  font-size: var(--fs-md);
  line-height: var(--line-height);
}


